html{
    background-color:#D3F2F5 ;
}
.map {
    position: relative;
    width: 50%;
}

.map img {
    height: auto;
    width: 100%;
}

.map .West {
    position: absolute;
    top: 28%;
    left: 13%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 160px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.map .South {
    position: absolute;
    top: 72%;
    left: 36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: blue;
    font-size: 25px;
    font-weight: bold;
    padding: 140px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.map .Central {
    position: absolute;
    top: 35%;
    left: 36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: green;
    font-size: 25px;
    font-weight: bold;
    padding: 100px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    padding-bottom: 70px;
}
/* || header layout */
h1{
    text-align: center;
    flex: 5;
    text-transform: uppercase;
}
.homeheader{ /*Ananth, this controls your h1*/ 
  font-weight: bolder;
  font-size: x-large;

}

.header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
  }
  .header img{
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }
  img{
    display:block;
    position:absolute;
    top: 0px;
    left: 10px;
    height: 60px;
    padding-top: 20.15px;
  }

  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  /*needed to separate the buttons and have equal spacing*/ 
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  /*this part makes the buttons on the nav bar have equal separation */
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }

  nav a, nav span {
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }
  /*this is for the searc bar */
  input[type=text] {
    float: right;
    height: 25px;
    padding: 6px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 0px;
    border: 1px solid #ccc;  
    font-size: 17px;
    border-radius: 10px;
  }
