html{
    background-color:#D3F2F5;
    display: flex;
    flex-direction: column;
}
.flex-container{
  display: flex;
  flex-direction: column;
}
body {
  width: 90%;
  min-width: 800px;
  margin: 0 auto;
}

.greeting-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mouse over link changes text color*/
a:hover {
  color: rgb(44, 114, 169);
  font-style: italic;
  font-weight: bold;
}

.map {
  position: relative;
  display: flex;
  justify-content: center;
}

.map img {
    position: relative;
}

.map .West {
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: red;
    font-size: 25px;
    font-weight: bold;
    padding: 150px 33px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.map .South {
    position: absolute;
    top: 73%;
    left: 42.1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: blue;
    font-size: 25px;
    font-weight: bold;
    padding: 135px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.map .Central {
    position: absolute;
    top: 33%;
    left: 42.1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: green;
    font-size: 25px;
    font-weight: bold;
    padding: 100px 11px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    padding-bottom: 70px;
}
/* || header layout */
h1{
    text-align: center;
    flex: 5;
    text-transform: uppercase;
}
.homeheader { 
  font-weight: bolder;
  font-size: x-large;
}

.headerown {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
  }

.headerown a img{
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }
a img{
    display:block;
    position:absolute;
    top: 0px;
    left: 6%;
    height: 60px;
    padding-top: 20.15px;
  }

  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  /*needed to separate the buttons and have equal spacing*/ 
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  /*this part makes the buttons on the nav bar have equal separation */
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }

  nav a, nav span {
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  
  }
  /*this is for the search bar */
  input[type=text] {
    float: right;
    height: 25px;
    padding: 6px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 0px;
    border: 1px solid #ccc;  
    font-size: 17px;
    border-radius: 10px;
  }


/* Left class filter area for Hotels page */ 
#left{
  width: 25%;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #D2F2F5;
  position: relative;
  border: none;
}
button, input, select, textarea {
  margin: 10px;
}
.select select {
 min-width: 250px;
}
/*checkboxes inside the selector */
.multipleSelection {
  width: 300px;
  background-color: none;
  border: none;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  border: none;
  color: black;
}

#checkBoxes label {
  display: block;
}
#checkBoxes2 {
  display: none;
  border: none;
  color: black;
}

#checkBoxes2 label {
  display: block;
}
#checkBoxes3 {
  display: none;
  border: none;
  color: black;
}

#checkBoxes3 label {
  display: block;
}
#checkBoxes4 {
  display: none;
  border: none;
  color: black;
}

#checkBoxes4 label {
  display: block;
}
#checkBoxes5 {
  display: none;
  border: none;
  color: black;
}

#checkBoxes5 label {
  display: block;
}
#checkBoxes6 {
  display: none;
  border: none;
  color: black;
}

#checkBoxes6 label {
  display: block;
}

/* Right side of Hotels Page */
.right{
  margin-left: 40%;
}