
.aboutMaui{
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: white ;
    width: 80%;
    margin: 0 auto;
  }

  .target-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.right1{
    width: 80%;
    margin: 0 auto;
  }
.foto{
  width: 90%;
  height: 85%;
}