.container {
    width: 80%;
    max-width: 1200px;
    margin: 0;
}

.box:first-of-type {
    height:1000px;
    width:1000px;
    margin-left:80px;
    
}
.image {
    margin-left:100px;
    height: 500px;
    width: 750px;
}
h3 {
    margin-left:40%;
}
h5 {
    word-spacing: 40px;
    color: rgb(160, 159, 159) !important;
    font-style: italic;
    margin-left: 27%;
}
.checked {
    color: orange;
  }
  .addy2,p {
      font-weight: bold;
  }
  #mapid { height: 350px;
    width: 600px; }