/* .columns>.column:first-child {
    background-color:rgb(239, 241, 241);

}
.columns>.column {
    color:black;
    
} */
/* .right{
    margin-left: 70%;
  } */
  .target-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    margin-left: 20%
  }
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}